@font-face {
  font-family: 'My Kids Handwritten Basic';
  src: url(../fonts/MyKidsHandwrittenBasic-gxxZY.ttf) format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Stella';
  src: url(../fonts/Stella\ Demo.otf) format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Stupid Meeting';
  src: url(../fonts/Stupid\ Meeting_D.otf) format('opentype');
  font-style: normal;
}

.flip-card {
	background-color: transparent;
  padding-top: 66%;
	perspective: 1000px; 
  }

  .flip-card-inner {
	position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }

 
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
  background-image: url('../img/titlecard.jpg');
  background-size: contain;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 10%;
  }

  
  .flip-card-front {

  text-align: center;
  color: white;
  padding-top: 12vh;
  text-shadow: 2px 2px #000000;
  }


  .flip-card-back {
	padding-top: 12%;
	padding-left: 5px;
  padding-right: 5px;
  text-align: center;
	transform: rotateY(180deg);
  }

  .button-primary-flip {
    font-family: 'My Kids Handwritten Basic';
    font-size: 30px;
    background-color: #b93738;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px 10px 20px;
    min-width: 150px;
  }

  .button-primary-flip:hover {
    box-shadow: 2px 5px #9b2727c2;
    background-color: #b93738;
  }

  #trending {
    padding-bottom: 8vh;
    padding-top: 3vh;
  }

  #trending-topics {
    margin-top: 20px;
  }

  #map-location {
    background-color: #F53240;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
    margin-bottom: 2vh;
  }

  .button-map {
    background-color: #ffffff;
    color: rgb(117, 117, 117);
    border: none;
    margin-top: 2vh;
    width: 70%;
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 100%;
    border-radius: 5px;
    font-family: 'My Kids Handwritten Basic';
    font-size: 30px;
  }

  #mapheading {
    font-family: 'My Kids Handwritten Basic';
    font-size: 50px;
  }

  .button-map:hover {
    box-shadow: 5px 10px #b93738;
    background-color: #ffffff;
    color: rgb(117, 117, 117);
  }

  #categories {
    padding-top: 1vh;
    padding-bottom: 10vh;
  }

  .button-category {
    font-family: 'Stella'; 
    background-image: url('../img/titlecard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:80%;
    padding-top: 12vh;
    padding-bottom: 10vh;
	  border: 1px solid #f1f1f1;
    perspective: 1000px;
    border: none;
    border-radius: 5%;
    text-shadow: 2px 2px #000000;
  }

  .button-category:hover {
    box-shadow: 5px 10px #b1afafc2;
    background-image: url('../img/titlecard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .headingpage {
    color: rgb(117, 117, 117);
    font-size: 80px;
  }