@font-face {
  font-family: "My Kids Handwritten Basic";
  src: url(./fonts/MyKidsHandwrittenBasic-gxxZY.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Stella";
  src: url(./fonts/Stella\ Demo.otf) format("opentype");
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: "My Kids Handwritten Basic";
  /* padding: 20px; */
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Stella";
}

h4 {
  font-family: "Stella";
  font-size: 40px;
}

p,
ul,
li {
  /* font-family: "Helvetica Neue"; */
  font-family: "My Kids Handwritten Basic";
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #b93738;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fff;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #c59c35;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: #b93738;
  display: inline;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.submitBtn {
  position: relative;
  padding: 10px;
  background-color: #006400;
  display: inline;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.question {
  background-color: #f9be02;
  padding: 10px;
  margin: auto;
  width: 500px;
  min-width: 500px;
  border-radius: 20px;
  font-size: 40px;
  font-weight: bold;
}
.answers {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 20px;
}

.quiz-div {
  margin: 10px;
  display: inline-flex;
}

.quiz-name {
  margin: auto;
  padding: 10px;
  font-size: 70px;
  font-family: "Stella";
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

.Logo {
  background-image: url(./img/virus.png);
  size: 15px;
}

.quiz-img {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.divSpacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

#heading {
  width: 40%;
  padding-bottom: 10px;
}

#logo {
  width: 50px;
  height: 50px;
  text-align: left;
  margin: 0;
}

#basic-nav-dropdown {
  text-align: right;
}

.nav-image {
  width: 40px;
  height: 40px;
}

#dropdown-custom {
  background-color: #7cdbd5;
  color: white;
  border: none;
}

#navbar {
  background-color: #7cdbd5;
  color: white;
  box-shadow: 1px 5px #00000033;
}

.nav-link {
  text-align: center;
  margin-left: 100px;
  padding: 0;
  width: 700px;
}

.searchbar {
  padding-left: 200px;
}

.navbutton {
  background-color: #7cdbd5;
  border: none;
}

.navbutton:hover {
  background-color: #7cdbd5;
  border: none;
}

.form-inline .form-control {
  width: 80%;
}

.searchbox {
  width: 100px;
  padding: 20px 20px 20px 20px;
  border: none;
  font-size: 30px;
}

.dropdown-menu-nav {
  font-size: 20px;
}

.next-button{
  position: relative;
  padding: 20px;
  background-color: #0e2930;
  display: inline;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

#NavBarLogin {
  color: white;
  font-size: 30px;
  text-align: right;
  margin-left: 0px;
  margin-right: 50px;
  padding: 0;
  width: 0px;
}

#dropdown-custom {
  font-size: 30px;
}
